
# image ocr
opencv-python
numpy
torch
torchvision
python-doctr
python-doctr[torch, viz]
#pdf ocr
pdf2image

#ocr
together
python-dotenv
Markdown

#RAG
langchain-huggingface
python-dotenv
rank-bm25
together
lime
pandas
langchain_ollama
nltk
pinecone
