argon2-cffi
fastapi
uvicorn
pydantic
authlib
pydantic-settings
pydantic[email]
passlib
python-dotenv
boto3
botocore
pyjwt
python-multipart
python-jose
oauthlib
httpx
itsdangerous
structlog
pytest
dspy
Markdown
together
torch
langchain_core
langchain_huggingface
rank_bm25
nltk
pinecone
spacy
opencv-python
python-doctr
torchvision
matplotlib
pytesseract
pdf2image
